{{define "posts/index.tmpl"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>gin模板使用</title>
</head>

<body>
<h1>模板使用实例，posts/index</h1>
    <hr>
    {{.title}}
    <hr>
    <hr>
</body>
{{end}}