{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<link rel="stylesheet" href="/xxx/index.css">
    <title>gin模板使用</title>
</head>

<body>
<h1>模板使用实例，user/index</h1>
    <hr>
    {{.title|safe}}
    <hr>
    <hr>
    <script src="/xxx/index.js"></script>
</body>
</html>
{{end}}